.course-section-title{
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .rbt-price{
    .current-price{
      font-size: 16px;
      font-weight: 700;
      color: var(--primary-color);
    }

  }
}


.input-error{
  font-size: 14px;
}


.learning-header{
  background-color: #000;
}

.lesson-nav{
  display: inline-flex;
  align-self: flex-end;
  align-items: center;
  padding: 10px 20px;
  margin-right: 20px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  gap: 15px;

  button{
    font-size: 14px;
    padding: 10px 20px;
  }
}

.header-left{
  font-size: 16px;
  color: #fff;
  padding: 7px 20px;
  display: flex;
  align-items: center;
  border-right: 1px solid #fff;

  i{
    font-size: 24px;
    margin-right: 10px;
  }
}

.bottom-left{
  border-right: 1px solid #777;
  max-height: 100vh;
  max-height: calc(100vh - 103px);
  overflow: auto;
}

.lesson-outer-container{
  max-height: 100vh;
  max-height: calc(100vh - 103px);
  overflow: auto;
}

.lesson-container{
  max-width: 840px;
  margin: 0 auto;
}

.course-name{
  padding: 20px;
  font-size: 18px;
}

.course-progress-bar{
  font-size: 20px;
  height: 12px;
  margin-top: 20px;
}

.course-progress{
  text-align: center;
  color: #777;
  margin-top: 10px;
}

.course-lesson-list{
  padding: 20px;
  h2{
    text-transform: uppercase;
    font-size: 18px;
  }

  h6{
    font-weight: bold;
    font-size: 16px;
  }

  .lesson-icon{
    font-size: 24px;
    color: var(--color-primary);
    margin-right: 10px;
  }

  .rbt-course-main-content{
    li li{
      border-bottom: 1px solid #efefef;
      padding-bottom: 7px;
    }
  }
}

.lesson-title{
  margin-top: 20px;
  font-size: 24px;
}

.lesson-description{
  margin-top: 20px;
}

.btn-login-fixed{
  position: none !important;
  bottom: 0;
  right: 0px;
  left: 0;
  background-color: #fff;
  margin: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  display: none;
  z-index: 2050;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .btn-login-fixed{
    position: fixed !important;

    &.active{
      display: block;
    }
  }

  .rbt-progress-parent{
    bottom: 80px;
  }

  .lesson-wrapper{
    display: flex;
    flex-direction: column-reverse;
  }

  .lesson-outer-container{
    max-height: none !important;
  }
}

.attachments{
  padding: 0;
  li{
    list-style: none;
    padding: 0;
    line-height: 32px;

    a{
      color: rgb(47 87 239);
    }
  }
}

.filepond--root{
  font-size: 16px !important;
}

.old-price{
  text-decoration: line-through;
  color: #bbb;
}

.sale_text{
  font-style: italic;
  color: red;
  text-align: center;
  font-size: 14px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
